<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <!--<script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.2/dist/vuetify.min.js"></script>-->

	</head>

    <body>
    <header id="header">
        <h1 class="site-title"><a href="https://npb.jp/"><img src="img/npb.png" alt="My Work"></a></h1>
        <nav>
            <ul>
                <li><a href="#glaph">Glaph</a></li>
                <li><a href="#kyudanlogo">kyudanlogo</a></li>
            </ul>
        </nav>
        </header>
        <main>
        <div id="mainvisual">
        <link rel="stylesheet" href="style.css" >
        <div class="carousel">
            <input id="image1" type="radio" name="image-selector" checked="checked" />
            <label for="image3">View image 3</label>
            <img src="img/se_pakouryu.jpg" />
          
            <input id="image2" type="radio" name="image-selector" />
            <label for="image1">View image 1</label>
            <img src="img/flesh2023.jpg" />
          
            <input id="image3" type="radio" name="image-selector" />
            <label for="image2">View image 2</label>
            <img src="img/allstar.jpg" />
          
            
            
            <label for="image3">View image 3</label>
            <label for="image1">View image 1</label>
          </div>
          <h2 id="npb">画像はnpb公式サイト　https://npb.jp/　より引用<br>閲覧日：2023年6月5日</h2>

        </div>
        </main>
        <div id="glaph">
		<h3>プロ野球順位表2012~2022年</h3>
        <div id="app"><!--ボタンによって表示される折れ線グラフと色の紹介を返る-->
            <!-- 採点箇所１：インプット １０点 -->
            <!-- 採点箇所１：アウトプット １０点 -->
            <input type="button" value="パリーグ" onclick="dataireru('P')" v-on:click="pcolor">
            <input type="button" value="セリーグ" onclick="dataireru('S')" v-on:click="scolor">
        
            <div id="range">
            </div>
		<!--押されたボタンごとに球団と色の紹介を変えたい-->
            
            <p v-html="colorinfo"></p>
            
            
            <a v-bind:href="imagelink"><img :src="imagesrc"></a>
            <div id="kyudanlogo" class="kyudan_logo">
                <!-- 採点箇所３：繰り返しor条件分岐が実装されている １０点 -->
                <div class="radio" v-for="image in kyudanname">
                    <label>
                        {{image.title}}
                        <input type="radio" name="profile_image" :value="image.src" v-model="imagesrc" v-on:click="addlink(image.link)">
                    </label>
                </div>
            </div>
            <div>
            <ul class="leage">
                <!-- 採点箇所４：外部サイトへ遷移する機能がVue.jsで実装されている １０点 -->
                <!-- 採点箇所２：Vue.jsの機能を用いて画像が表示されている １０点 -->
                <li class="flag"><p v-html="seri_gu"></p></li>
                <li><p v-html="kyojin"></p></li>
                <li><p v-html="tyuniti"></p></li>
                <li><p v-html="yakuruto"></p></li>
                <li><p v-html="hirosima"></p></li>
                <li><p v-html="hansin"></p></li>
                <li><p v-html="yokohama"></p></li>
            </ul>
            <ul class="leage">
                <li  class="flag"><p v-html="pari_gu"></p></li>
                <li><p v-html="bafa"></p></li>
                <li><p v-html="soft"></p></li>
                <li><p v-html="seibu"></p></li>
                <li><p v-html="rakuten"></p></li>
                <li><p v-html="rotte"></p></li>
                <li><p v-html="ham"></p></li>
            </ul>
            <ul class="samurai">
                <li><p v-html="samura_i"></p></li>
            </ul></div>
        </div>
        </div>
        <footer>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<script>//loadしたときに表示するもの　
            //window.addEventListener('load', (event) => {
                //google.charts.setOnLoadCallback(drawBasic(pdata));
              //});
			google.charts.load('current', {packages: ['corechart']});
            
            //グラフを表示させる
            function dataireru(moji){
                if (moji == 'P'){
                    google.charts.setOnLoadCallback(drawBasic(pdata));
                } else if (moji == 'S'){
                    google.charts.setOnLoadCallback(drawBasic(sedata))
                }
            }
			// グラフを表示する関数
			function drawBasic(kekka) {
				let data = google.visualization.arrayToDataTable(kekka);
                if (kekka == pdata){//SB,西武,楽天,ロッテ,日ハム,オり
                    color = ['#ffdd00','00ccff','bb0000','330099','222222','0055aa']
                }else if (kekka == sedata){//巨人、中日、ヤクルト、広島、阪神、DeNA
                    color = ['#f97709','002569','0f1350','ff0000','fee200','003f8e']
                }
                var options = {title: 'プロ野球順位表',"is3D": true,
                    width: '50%',
                    height: 300,
                    colors: color,
                    lineWidth: 2,
                    legend: {position: 'none'},
                    tooltip: {isHtml: true},
                    animation :{startup:true, duration:1000, easing:'out'},
                    chartArea: {
                        left: 40,
                        top: 10,
                        width:'94%',
                        height:'85%'
                    },
                    vAxis: {
                        direction: -1,
                        gridlines: {
                            color: '#f2f2f2',
                        },
                        baselineColor: '#ffffff',
                        textStyle:{
                            color: '#888888',
                            fontSize: 10,
                        },
                        minValue: 1,
                        maxValue: 6,
                        ticks: [1, 2, 3, 4, 5, 6],
                    },
                    hAxis:{
                        showTextEvery: 1,
                        textStyle:{
                            color: '#888888',
                            fontSize: 10,
                        },
                    }
                };
                let chart = new google.visualization.LineChart(
					document.getElementById('range'));
				chart.draw(data, options);
			}
            
            new Vue({
				el: '#app',
                //vuetify:new Vuetify(),
				data: {
					dataArray:pdata = [
                    ['年度','ソフトバンク','西武','楽天','オリックス','ロッテ','日本ハム'],
                    [2012,3,2,4,6,5,1],
                    [2013,4,2,1,5,3,6],
                    [2014,1,5,6,2,4,3],
                    [2015,1,4,6,5,3,2],
                    [2016,2,4,5,6,3,1],
                    [2017,1,2,3,4,6,5],
                    [2018,2,1,6,4,5,3],
                    [2019,2,1,3,6,4,5],
                    [2020,1,3,4,6,2,5],
                    [2021,4,6,3,1,2,5],
                    [2022,2,3,4,1,5,6]
                    ],
                    dataArray:sedata =[
                    ['年度','巨人','中日','ヤクルト','広島','阪神','DeNA'],
                    [2012,1,2,3,4,5,6],
                    [2013,1,4,6,3,2,5],
                    [2014,1,4,6,3,2,5],
                    [2015,2,5,1,4,3,6],
                    [2016,2,6,5,1,4,3],
                    [2017,4,5,6,1,2,3],
                    [2018,3,5,2,1,6,4],
                    [2019,1,5,6,4,3,2],
                    [2020,1,3,6,5,2,4],
                    [2021,3,5,1,4,2,6],
                    [2022,4,6,1,5,3,2]
                    ],
                    kyudanname :[
                    {title:'ソフトバンク',src:'img/logo_h_m.gif',link:'https://www.softbankhawks.co.jp/'},
                    {title:'西武',src:'img/logo_l_m.gif',link:'https://www.seibulions.jp/'},
                    {title:'楽天',src:'img/logo_e_m.gif',link:'https://www.rakuteneagles.jp/'},
                    {title:'オリックス',src:'img/logo_b_m.gif',link:'https://www.buffaloes.co.jp/'},
                    {title:'ロッテ',src:'img/logo_m_m.gif',link:'https://www.marines.co.jp/'},
                    {title:'ハム',src:'img/logo_f_m.gif',link:'https://www.fighters.co.jp/'},
                    {title:'巨人',src:'img/logo_g_m.gif',link:'https://www.giants.jp/'},
                    {title:'中日',src:'img/logo_d_m.gif',link:'https://dragons.jp/'},
                    {title:'ヤクルト',src:'img/logo_s_m.gif',link:'https://www.yakult-swallows.co.jp/'},
                    {title:'広島',src:'img/logo_c_m.gif',link:'https://www.carp.co.jp/'},
                    {title:'阪神',src:'img/logo_t_m.gif',link:'https://hanshintigers.jp/'},
                    {title:'DeNA',src:'img/logo_db_m.gif',link:'https://www.baystars.co.jp/'},
                    ],
                    
                    colorinfo:'',
                    selected:'ソフトバンク',
                    imagesrc:'',
                    imagelink:'',
                    src:'',
                    link:'',
                    soft:'<a href="https://www.softbankhawks.co.jp/"><img src="img/logo_h_m.gif" width:"38" height:"38"></a>',
                    seibu:'<a href="https://www.seibulions.jp/"><img src="img/logo_l_m.gif"></a>',
                    rakuten:'<a href="https://www.rakuteneagles.jp/"><img src="img/logo_e_m.gif"></a>',
                    bafa:'<a href="https://www.buffaloes.co.jp/"><img src="img/logo_b_m.gif"></a>',
                    rotte:'<a href="https://www.marines.co.jp/"><img src="img/logo_m_m.gif"></a>',
                    ham:'<a href="https://www.fighters.co.jp/"><img src="img/logo_f_m.gif"></a>',
                    kyojin:'<a href="https://www.giants.jp/"><img src="img/logo_g_m.gif"></a>',
                    tyuniti:'<a href="https://dragons.jp/"><img src="img/logo_d_m.gif"></a>',
                    yakuruto:'<a href="https://www.yakult-swallows.co.jp/"><img src="img/logo_s_m.gif"></a>',
                    hirosima:'<a href="https://www.carp.co.jp/"><img src="img/logo_c_m.gif"></a>',
                    hansin:'<a href="https://hanshintigers.jp/"><img src="img/logo_t_m.gif"></a>',
                    yokohama:'<a href="https://www.baystars.co.jp/"><img src="img/logo_db_m.gif"></a>',
                    seri_gu:'<a href="https://npb.jp/cl/"><img src="img/flag_central_s.gif" margin-top:"100"></a>',
                    pari_gu:'<a href="https://npb.jp/pl/"><img src="img/flag_pacific_s.gif"></a>',
                    samura_i:'<a href="https://www.japan-baseball.jp/"><img src="img/logo_samurai_s.gif"></a>',
                },
                methods:{//押されたボタンによって表示する色の紹介を変える 日本一回数も欲しい
                    pcolor:function(){
                        this.colorinfo = '<p class="pasific-color">\
                            <span style="background-color:#ffdd00;">&nbsp;&nbsp;&nbsp;&nbsp;</span>ソフトバンク&nbsp;&nbsp;\
                            <span style="background-color:#00ccff;">&nbsp;&nbsp;&nbsp;&nbsp;</span>西武&nbsp;&nbsp;\
                            <span style="background-color:#bb0000;">&nbsp;&nbsp;&nbsp;&nbsp;</span>楽天&nbsp;&nbsp;\
                            <span style="background-color:#330099;">&nbsp;&nbsp;&nbsp;&nbsp;</span>オリックス&nbsp;&nbsp;\
                            <span style="background-color:#222222;">&nbsp;&nbsp;&nbsp;&nbsp;</span>ロッテ&nbsp;&nbsp;\
                            <span style="background-color:#0055aa;">&nbsp;&nbsp;&nbsp;&nbsp;</span>日本ハム&nbsp;&nbsp;</p>\
                        <p>優勝回数:ソフトバンク4,西武2,楽天1,オリ2,ロッテ0,ハム2</p>'
                    },
                    scolor:function(){
                        this.colorinfo = '<p class="sentoral-color">\
                            <span style="background-color:#f97709">&nbsp;&nbsp;&nbsp;&nbsp;</span>巨人&nbsp;&nbsp;\
                            <span style="background-color:#002569">&nbsp;&nbsp;&nbsp;&nbsp;</span>中日&nbsp;&nbsp;\
                            <span style="background-color:#0f1350">&nbsp;&nbsp;&nbsp;&nbsp;</span>ヤクルト&nbsp;&nbsp;\
                            <span style="background-color:#ff0000">&nbsp;&nbsp;&nbsp;&nbsp;</span>広島&nbsp;&nbsp;\
                            <span style="background-color:#fee200">&nbsp;&nbsp;&nbsp;&nbsp;</span>阪神&nbsp;&nbsp;\
                            <span style="background-color:#003f8e">&nbsp;&nbsp;&nbsp;&nbsp;</span>DeNA&nbsp;&nbsp;</p>\
                        <p>優勝回数:巨人5,中日0,ヤクルト3,広島3,阪神0,DeNA0</p>'
                    },
                    addlink:function(url){
                        this.imagelink =  url;
                    }
                },
                
			});
		</script>
	</body>
</html>
