<!--C4/ex1.htmlを四則演算できるようにするタイプ-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vue.js 演習問題</title>
    <link rel="stylesheet" href="style.css" >
    <script src=
      "https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js">
    </script>
  </head>
  
  <body>
    <h2>入力した数値の四則検算</h2>
    <div id="app">
      <label>数値１ = <input type="number" v-model="number1"></label>
      <br>
      <label>数値２ = <input type="number" v-model="number2"></label>
      










    </div>
    
    <script>
      new Vue({
        




      })
    </script>
  </body>

</html>
